body{
    margin: 0;
    width: 100%;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  .sidebar{
    background-color: #fd5eb8;
    min-height: 100vh;
    max-width: 10vw; 
    position: absolute;
    /* margin: auto; */
    top: 0;
    bottom: 0;
  }
  .sidebar span{
    color: #f5058d;
    top: 45vh;
    left: 5%; 
    transform: translateX(-50%);
  }


  .profesionalImg{
    float: left;
    background-color: rgb(255, 206, 240);
    width: 50%; 
    min-height: 100vh;
    margin-right: 0;
    /* position: sticky; */
    /* position: -webkit-sticky; */
  }
  .profesionalImg img{
    width: 100%;
    margin-top: 160px;
  }
  .nameContainer{
    /* min-height: 100vh; */
    float: left;
    background-color: #fff0fa;
    width: 50%;
    height: 100vh;
    overflow-y: auto; 
    margin-right: 0;
    box-shadow: -5px 0px 9px 0px rgba(80, 65, 74, 0.329);
    position: relative;
  }

  .aboutMe{
    background-color: antiquewhite;
    height: 45vh;
  }
  .myProject{
    height: 45vh;
  }

  .myFirstName{
    padding-top: 10pc;
    padding-bottom: 10pc;
    text-align: center;
    font-size: 10vh;
    font-style: italic;
    position: sticky;
    top: 0;
    background-color: #fff0fa;
  }

  .initialM{
    font-size: 300%;
    color: #fd5eb8;
    font-style: normal;
  }

  .initialS{
    font-size: 300%;
    color: #fd5eb8;
    font-style: normal;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  





/* * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

    .pagecontent{
        flex: 1;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .pagecontent.visible{
        opacity: 1;
        transform: translateY(0);
    }

    .aboutcontent{
        display: block;
    }
    .skillcontent{
        display: block;
    }
    .projectcontent{
        display: block;
    }
    .intro{
        text-align: center;
        padding: 30px;
        margin-left: 25px;
        font-family: 'Montserrat';
        color: #FF78C4;
    }
    .intro a{
        color: #FF78C4;
    }

    .intro a:hover{
        opacity: 20%;
    }

    .abouttext a{
        color: #FF78C4;
    }

    .abouttext a:hover{
        opacity: 20%;
    }

    .shell{
        background-color: #ffffff;
    }

    .name{
        font-size: 200%;
        text-align: center;
    }


    .head-position{
        z-index: 100;
        position:sticky;
        position: -webkit-sticky;
        top: 0;
        padding-bottom: 10px;
        border-style: outset;
        border-color: #f0078b4d;
        background-color: #ff78c578;
    }

    .heading{
        margin-top: 20px;
        padding: 10px 70px;
        height: max-content;
    }


    .logocontainer{
        display: table;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }


    .logocontainer h1{
        color: #FF78C4;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 32;
        font-weight: 200;
    }

    .logocontainer h1 span{
        font-weight: 800;
    }

    .navhor li{
        display: inline;
    }

    .about{
        margin-right: 5%;
    }

    .skills{
        margin-right: 5%;
    }

    .project{
        margin-right: 5%;
    }

    .navigation{
        overflow: hidden;
        text-align: right;
    }

    .navigation a {
        color: #ffffff;
    }

    .navigation a :hover{
        color:#ddcfe6;
    }

    .aboutme{
        text-align: center;
        color: #FF78C4;
        position: relative;
        font-family: 'Montserrat', 'Times New Roman', Times, serif, georgia;
        padding: 50px;
    }

    .aboutme h2{
        text-align: center;
        font-size: 70px;
    }

    .abouttext{
        font-size: 20pt;
    }

    .myskills{
        text-align: center;
        position: relative;
        font-family: 'Montserrat', 'Times New Roman', Times, serif, georgia;
        padding: 0px;
    }

    .myskills h2{
        text-align: center;
        color: #FF78C4;
        font-size: 70px;
    }

    .whatIknow{
        text-align: center;
        /* display: flex; 
        gap: 10px;
    }*/
    .icon{
        transition: transform 0.5s ease;
    }
    .icon:hover{
        transform: rotateY(180deg);
    }

    .whatIknow i{
        font-size: 300%;
        padding: 9%;

    }

    .myprojects h2{
        text-align: center;
        padding-top: 20%;
        font-family: 'Montserrat';
        color: #FF78C4;
        font-size: 70px;
        position: relative;
    }

    .myprojects p{
        color: #FF78C4;
        font-size: 20pt;
        text-align: center;
    }


    .myprojects a {
        color: #FF78C4;
        font-size: 200%;
        list-style-type: none;
    }

    .myprojects a :hover{
        color: #FFBDF7;
        font-size: 105%;
    }



    .socialscontainer{
        max-width: 1170px;
        margin: auto;
        height: fit-content;
    }

    .footer ul{
        list-style: none;
    }
/* foot */
    .footer{
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
        border-style: outset;
        border-color: #ff78c5;
        background-color: #ff78c578;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    #scrollToTop {
        display: block;
        text-align: center;
        padding: 10px;
        color: #fd5eb8;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
      }
      
      #scrollToTop:hover {
        background-color: #fd5eb8;
        color: #FFBDF7;
      }

    .col{
        width: 25%;
        padding: 0 15px;
        float: right;
    }

    .col h4 {
        font-size: 18px;
        color: #FFBDF7;
        text-transform: capitalize;
        margin-bottom: 30px;
    }

    .col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #FFBDF7;
        height: 2px;
        box-sizing: border-box;
    }
    
    .rows{
        display: flex;
        flex-wrap: wrap;
    }
/* timeline */
    .timeline{
        box-sizing: border-box;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #ff78c5;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
      }
      
      /* Container around content */
      .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
      }
      
      /* The circles on the timeline */
      .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: #ff78c5;
        border: 3px inset #FFBDF7;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
      
      /* Place the container to the left */
      .left {
        left: 0;
      }
      
      /* Place the container to the right */
      .right {
        left: 50%;
      }
      
      /* Add arrows to the left container (pointing right) */
      .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
      }
      
      /* Add arrows to the right container (pointing left) */
      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
      
      /* Fix the circle for containers on the right side */
      .right::after {
        left: -16px;
      }
      
      /* The actual content */
      .content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
      }
      
      /* Media queries - Responsive timeline on screens less than 600px wide */
      @media screen and (max-width: 600px) {
        /* Place the timelime to the left */
        .timeline::after {
        left: 31px;
        }
        
        /* Full-width containers */
        .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        }
        
        /* Make sure that all arrows are pointing leftwards */
        .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
        }
      
        /* Make sure all circles are at the same spot */
        .left::after, .right::after {
        left: 15px;
        }
        
        /* Make all right containers behave like the left ones */
        .right {
        left: 0%;
        }
      }

      /* pop-up card??*/
      .preview-container{
        box-shadow: 0 4px 8px 0 #b930300e;
        transition: 0.1s;
        width: fit-content;
        height: fit-content;
        padding: 2px 16px;
      }

      .preview-container img{
        width: 50%;
        height: 50%;
      } 

      .myFirstName{
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        font-size: 10vh;
        font-style: italic;
        position: sticky;
        top: 0;
      }

      .profesionalImg img{
        width: 100%;
        margin-top: 210px;
      }